.Button {
   padding: 14px 27px;
   outline: none;
   cursor: pointer;
   border-radius: 9999px;
   font-size: 17px;
}
.Button.blue {
  border: solid 1px #7090ff;
  background-color: rgba(0, 89, 255, 0.2);
  color: #7090ff;
}
.Button.red {
  border: solid 1px #ff4664;
  background-color: rgba(255, 78, 78, 0.2);
  color: #ff4664;
}

